name: PythonApp Build
on: 
 push:
  branches:
   - main
jobs:
  Jobid_1:
    runs-on: ubuntu-latest
    steps:
     - name: checkout 
       uses: actions/checkout@v5
     - name: Print checkout..
       run: echo "Code checkout"

     - name: python setup
       uses: actions/setup-python@v5
       with:
        python-version: '3.12' 

     - name: Install Dependencies
       run: |
         python -m pip install --upgrade pip
         pip install -r requirements.txt

     - name: Deploy Flask Application
       run: |
          nohup python3 app.py &
   
   
